<section class="section footer" style="background-color: var(--white-000);">
    <div class="container footer">
        <div class="horizontal-line"></div>
        <div class="horizontal-wrapper nav foot">
            {{/*  <div class="caption"><a href="/our-design" class="text-link caption">Our design</a></div>
            <div class="horizontal-wrapper">  */}}

                <div class="caption">Cambridge Networks Network</div>
                <div class="horizontal-wrapper">

                    <a href="https://x.com/CamNetNet" class="text-link caption" onmouseover="updateGraph('X')">X (TWITTER)</a>
                    <a href="https://bsky.app/profile/cambridgenets.bsky.social" onmouseover="updateGraph('B')" class="text-link caption">BLUESKY</a>
                    <a href="#" class="text-link caption" onmouseover="updateGraph('L')">LINKEDIN</a>
                    <a href="{{ "/contact" | relURL }}" class="text-link caption" onmouseover="updateGraph('C')">CONTACT</a>
                </div>
                <div class="caption">MADE BY <a href="https://thesourdough.co.uk" target="_blank"
                        class="text-link caption">THE SOURDOUGH</a>
                </div>
            </div>
        </div>
</section>